各位同学:

    收到这封邮件说明你提交的第一次数据结构作业已经被接收，在查收邮件时，发现了一些问题需要向大家强调一下：

    1. 请注意邮件题目的格式，邮件的题目应该为“第x次数据结构大作业”
    2. 请注意附件名称，请使用 zip 格式将所有代码包括简答题答案压缩为一个压缩包，
    压缩包的名字为 学号-作业次数, 如 512xxxxxxx-1.zip
    3. 简答题请使用txt纯文本格式保存，不要使用doc或者docx
    4. 请在附件中包含程序运行的截图

    由于需要查收的邮件数量很多，如果因为邮件格式不对导致等级分数遗漏，后果请自负， 希望大家谅解并支持我的工作。另外，还有一些同学没有提交作业，请同学们相互通知 尽快将第一次大作业提交上来。从第二次大作业开始将会严格要求邮件的格式，已经 提交过第一次大作业的同学不需要再次提交。

    以下同学的作业还没有提交或者被遗漏，请重新提交一次，请认识他们的同学通知 他们一下：

    5100309403  钟凌
    5100309515  周嘉
    5100309657  郑浩天
    5110309381  田森
    5110309719  刘嘉文
    5090309382  杨滨炜
    5110309194  陈达
    5110309248  刘晓东
    5111509021  戈浩然
    5120209274  李杰
    5120309183  叶迪卓然
    5120309193  戚阳
    5120309418  清水孝
    5120309443  王逸帆

    祝各位都顺利完成这门课程的学习。欢迎大家发邮件和我交流。

                                                                你们的助教：张晨
