<!DOCTYPE html>
<html>
<body>
<p style="font-weight:bold">{{ student.name }}:</p>
<p>
你好, 临近学期结束，在此将你数据结构课程的作业提交情况通知汇总如下，请检查和确认你的信息是否正确,
还未提交的作业请尽快补交，若记录与你提交的情况有出入，请及时联系我解决。
如果有认识的同学当中有人没有收到这封邮件，请通知他们尽快与我邮件联系。
</p>
<p style="font-weight:bold">你的学号是
<span style="color:#69f;">{{ student.student_num }}</span>。作业提交情况如下:
</p>
<p>
<table>
    <tr>
        <th style="background:#ccc;">作业序号</th>
        <th style="background:#ccc;">作业提交情况</th>
    </tr>
    {% for result in results %}
    <tr>
        <td>{{ forloop.counter }}</td>
        {% if result == 0 %}
        <td style="color:#fff;background:#f63">未提交</td>
        {% else %}
        <td>OK</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</p>
</body>
</html>
