{% extends "base.html" %}

{% block extend_head %}
    <style type="text/css" media="screen">
    th { text-align: left; font-weight:bold;}
    .table-header {background:#EEE;}
    .zero { background: #FFF497;}
    </style>
{% endblock extend_head %}

{% block content %}
{% for students, sub_count, s_count in collections %}
   <table width="100%">
       <tr class="table-header">
           <th colspan="3">班级 {{ forloop.counter }}</th>
           <th>({{ sub_count}}/{{ s_count }})</th>
       </tr>
       <tr class="table-header">
       <th>学号</th>
       <th>姓名</th>
       <th>分数</th>
       <th>查看提交</th>
       </tr>
       {% for student in students %}
       {% if student.submission %}
       <tr>
           <td>{{ student.student_num }}</td>
           <td>{{ student.name }}</td>
           <td>{{ student.submission.score }}</td>
           <td>
               <a href="{% url 'submission' student.submission.id %}">&gt;&gt;</a>
           </td>
       </tr>
       {% else %}
       <tr class='zero' >
           <td>{{ student.student_num }}</td>
           <td>{{ student.name }}</td>
           <td>0</td>
           <td>未提交</td>
       </tr>
       {% endif %}
       {% endfor %}
   </table>
   {% if not forloop.last %}
   <hr>
   {% endif %}
   {% endfor %}
   {% endblock content %}
